[Desktop Entry]
Version=1.0
Type=Application
Name=Gomoku
Comment=Strategic board game - Align 5 stones to win
Exec=/sgoinfre/jgavairo/gomoku/bin/Gomoku
Icon=/sgoinfre/jgavairo/gomoku/desktop/gomicon.png
Path=/sgoinfre/jgavairo/gomoku
Terminal=false
Categories=Game;StrategyGame;
Keywords=gomoku;five-in-a-row;board;game;strategy;
StartupNotify=true
StartupWMClass=Gomoku